<table cellpadding="0" cellspacing="0" border="0" width="100%" style="border: none; width: 100%;">
    <tr>
        <td style="width:100%;padding:20px 0;text-align:center;margin:0 auto;" height="600px" align="center"
            valign="middle">
            <table width="100%" border="0" style="border-collapse:collapse;max-width:750px;margin:auto">
                <tbody>
                    <tr>
                        <td style="text-align: center; padding-bottom: 20px;">

                        </td>
                    </tr>
                    <tr>
                        <td style="height:6px;background-color:#006fff;font-size:0">&nbsp;</td>
                    </tr>
                    <tr>
                        <td
                            style="box-shadow: -2px 2px 2px #ddd, 0 0 0, 0 0 0, 2px 0 2px #ddd; background-color: #fff; border:1px solid #ddd; border-top:none;">
                            <table border="0" width="100%" style="border-collapse: collapse;">
                                <tbody>
                                    <tr>
                                        <td align="left"
                                            style="padding: 20px 40px; word-wrap:break-word; word-break:break-all;">
                                            <div class="content">
                                                <p>
                                                    <%=user%>您好：
                                                </p>
                                            </div>
                                            </p>
                                            <div class="content">
                                                <p>欢迎注册XXX，请将验证码填写到注册页面。</p>

                                                <p>验证码：<%=code%>
                                                <p><a href="http://www.baidu.com">点击进入</a></p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>